body {
    background-color:rgb(210, 241, 253);
    color: rgb(29, 41, 67);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;

    
}
main {
    margin-bottom: 40px;
    padding: 10px;

}
header {
    margin-bottom: 30px;
    padding: 20px;
    background: lightblue;

}
footer {
    margin-top: 20px;
    padding: 10px;
    background: lightblue;
    text-align: right;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
.error {
    color: #e41818;

}

.block1 {
    position: fixed;
    width: auto;
    height: auto;
    left: 114px;
    top: 140px;
    font-size: 21px
}
.block2 {
    position: fixed;
    width: auto;
    height: auto;
    left: 390px;
    top: 140px;
    font-size: 21px
}
.block3 {
    position: fixed;
    width: auto;
    height: auto;
    left: 514px;
    top: 140px;
    font-size: 21px
}
.block4 {
    position: fixed;
    width: auto;
    height: auto;
    left: 214px;
    top: 140px;
    font-size: 21px
}
.block5 {
    position: fixed;
    width: auto;
    height: auto;
    left: 714px;
    top: 140px;
    font-size: 21px
}