<!DOCTYPE html>
<html>
<head>
    <title>Document</title>
</head>
<body>
    <form action="/1/pp/calculate" method="get">
        <div>
            <label for="one">первое число</label>
            <input type="text" id="one" name="one" required>
        </div>
        <div>
            <label for="two">второе число</label>
            <input type="text" id="two" name="two" required>
        </div>
        <div>
            <label for="three">третье число</label>
            <input type="text" id="three" name="three" required>
        </div>
        <div>
            <label for="fo">четвертое число</label>
            <input type="text" id="fo" name="fo" required>
        </div>
        <div>
            <label for="thi">пятое число</label>
            <input type="text" id="thi" name="thi" required>
        </div>
        <input type="submit" value="Послать">
    </form>
</body>
</html>