{% extends "base.html" %}

{% block lab %}Лабораторная работа 5{% endblock %}

{% block main %}

{% for article in articles %}
<div>
    <h2>Номер анкеты {{ article[0] }}</h2>
    <p>Профессия {{ article[1] }}</p>
    <p>Стаж {{ article[2] }} </p>
    <p>Минимальная цена {{ article[3] }} руб.</p>
    <p>Максимальная цена {{ article[4] }} руб.</p>
    <li><a href="/rgz/articles/{{article[0]}}">{{article[0]}}</a></li>
    <button onclick="deleteArticle({{ article[0] }})">Удалить</button>
    <button onclick="hideArticle({{ article[0] }})">Скрыть от публичного просмотра</button>
    <button onclick="publishArticle({{ article[0] }})">Открыть для публичного просмотра</button>
    <a href="/rgz/edit_article/{{article[0]}}">Редактировать анкету {{article[0]}}</a>
    <hr style="border: none; border-top: 1px dotted #8c8b8b;">
</div>
{% endfor %}

<script>
    function deleteArticle(articleId) {
        if (confirm('Вы уверены, что хотите удалить эту статью?')) {
            fetch('/rgz/delete/' + articleId, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => {
                if (response.ok) {
                    alert('Статья успешно удалена');
                    location.reload();  
                } else {
                    throw new Error('Произошла ошибка при удалении статьи');
                }
            })
            .catch(error => {
                alert(error.message);
            });
        }
    }

    function hideArticle(articleId) {
        if (confirm('Вы уверены, что хотите скрыть эту статью от публичного просмотра?')) {
            fetch('/rgz/hide_article/' + articleId, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => {
                if (response.ok) {
                    alert('Статья успешно скрыта');
                    location.reload();  
                } else {
                    throw new Error('Произошла ошибка при скрытии статьи');
                }
            })
            .catch(error => {
                alert(error.message);
            });
        }
    }

    function publishArticle(articleId) {
        if (confirm('Вы уверены, что хотите открыть для публичного просмотра эту статью?')) {
            fetch('/rgz/publish_article/' + articleId, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => {
                if (response.ok) {
                    alert('Статья успешно открыта для публичного просмотра');
                    location.reload();  
                } else {
                    throw new Error('Произошла ошибка при открытии статьи для публичного просмотра');
                }
            })
            .catch(error => {
                alert(error.message);
            });
        }
    }
</script>

{% endblock %}