<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Сердюк Анастасия. {% block lab %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='lab1.css') }}">

{% if request.cookies.get('color') or request.cookies.get('background-color') or request.cookies.get('font-size') %} 
    <style>
        body {
            color: {{ request.cookies.get('color') }};
            background-color: {{ request.cookies.get('background-color') }};
            font-size: {{ request.cookies.get('font-size') }};
        }
    </style>

{% endif %}
{% block script %}{% endblock %}
</head>
<body>

</body>

</html>