{% extends "base.html" %}

{% block main %}

{{ errors }}
<div>
    <h1>Новая анкета</h1>

    <form method="POST" action="/rgz/cozdzametki">
        <input name="profesia_article" type="text" placeholder="Вид услуги">
    
        <input type="text" name="staj_article" placeholder="Стаж">
        <input type="text" name="price_min_article" placeholder="Минимальная цена">
        <input type="text" name="price_max_article" placeholder="Максимальная цена">
        <input type="submit" value="Применить">
    </form>
</div>
{% endblock %}














