{% extends "base.html" %}

{% block lab %}Лабораторная работа 4{% endblock %}

{% block main %}

    <h1>Холодильник</h1>

    <form method="POST">
    <h3>Установить температуру холодильника</h3>
    <div>
        <label>
            <input type ="number" name="temperature"
            id = "temperature" placeholder="Введите температуру" value = "{{temperature or ''}}">
        </label>
        <div>{{ error }}</div>
        <div>
        <button>Установить температуру </button>
        </div>
    
    </div>
    </form>
        
{% endblock %}