{% extends "base.html" %}

{% block lab %}Лабораторная работа 3{% endblock %}


{% block main %}

{% if gb %}
    <div>Даные:</div>
    
    <div>Фамилия {{ gb }}</div>
    <span class = "error">{{ errors.gb }}</span>
    <div>Имя {{ gbb }}</div>
    <span class = "error">{{ errors.gb }}</span>
    <div>Отчество {{ gbbb }}</div>
    <span class = "error">{{ errors.gb }}</span>
    <div>Тип {{  'детский' if tip=='det' else 'взрослый'}}</div>
    
    <div>Полка верхняя / нижняя - {{ 'верхняя' if polkav=='verh' else 'нижняя' }}</div>
    
    <div>Полка боковая / не боковая - {{ 'боковая' if polkab=='bok' else 'не боковая' }}</div>
    
    <div>Багаж {{  'есть' if bagaj=='bag' else 'нету'}}</div>
    
    <div>Возраст {{ age }}</div>
    <span class = "error">{{ errors.gb }}</span>
    <div>Пункт выезда {{ pynktv }}</div>
    <span class = "error">{{ errors.gb  }}</span>
    <div>Пункт приезда {{ pynktp }}</div>
    <span class = "error">{{ errors.gb }}</span>
    <div>Дата {{ date }}</div>
    <span class = "error">{{ errors.gb }}</span>
    
    

    {% else %}
    <h1>Данные</h1>
    <form>

        <label>Ваша фамилия:</label>
        <div>
            <input type="text"  name="gb" value="{{ gb or '' }}">
            <span class = "error">{{ errors.gb }}</span>
        </div>
        <label>Ваша имя:</label>
        <div>
            <input type="text"  name="gbb" value="{{ gbb or '' }}">
            <span class = "error">{{ errors.gb }}</span>
        </div>
        <label>Ваша отчество:</label>
        <div>
            <input type="text"  name="gbbb" value="{{ gbbb or '' }}">
            <span class = "error">{{ errors.gb }}</span>
        </div>
        <div>
            
            <label>Тип билета:</label>
            <div>
                <select name = "tip">
                    <option value="det" {{ tip == 'det' and 'selected' }}>детский билет</option>
                    <option value="v" {{ tip == 'v' and 'selected' }}>взрослый билет</option>
                </select>
            </div>
            <label>Полка верхняя / нижняя:</label>
            <div>
                <select name = "polkav">
                    <option value="verh" {{ polkav == 'verh' and 'selected' }}>верхняя полка</option>
                    <option value="niz" {{ polkav == 'niz' and 'selected' }}>нижняя полка</option>
                </select>
            </div>
            <label>Полка боковая / не боковая:</label>
            <div>
                <select name = "polkab">
                    <option value="bok" {{ polkab == 'bok' and 'selected' }}>боковая полка</option>
                    <option value="nebok" {{ polkab == 'nebok' and 'selected' }}>не боковая полка</option>
                </select>
            </div>
            <label>Багаж есть / нету:</label>
            <div>
                <select name = "bagaj">
                    <option value="bag" {{ bagaj == 'bag' and 'selected' }}>багаж есть</option>
                    <option value="nebag" {{ bagaj == 'nebag' and 'selected' }}>багажа нету</option>
                </select>
            </div>
            <div>Возраст(билеты продают только лицам с 18 лет до 120) </div>
            <div>
                <input type="number"  name="age" min="18" max="120" value="{{ age or '' }}">
                <span class = "error">{{ errors.gb }}</span>
            </div>
            <div>Пункт выезда</div>
        
            <label>
                <input type="text"  name="pynktv" >
                <span class = "error">{{ errors.gb }}</span>
            </label> 
            <div>Пункт приезда</div>
        
            <label>
                <input type="text"  name="pynktp">
                <span class = "error">{{ errors.gb }}</span>
            </label> 
            <div>Дата </div>
            <div>
                 <input type="date" name="date" value="{{ age or '' }}" min="2022-04-01" max="2055-04-30" required>
                 <span class = "error">{{ errors.gb }}</span>
            <div>
                <button type="sabmit">Отправить</button>
            </div>
            <div>
        <a href="/lab3/forml">Заново</a>
        </div>
    </form>
    
    {% endif %}
{% endblock %}