{% extends "base.html" %}

{% block lab %}Лабораторная работа 2{% endblock %}



{% block main %}
<h1>Шаблоны</h1>
<div>Тема лабораторной - шаблоны. Список сделанных страниц:</div>
<ol>
        <a href="/menu" >Меню</a><br>
        <a href="/lab2/lab22/flower/">flower</a><br>
        <a href="/lab2/lab22/berry/">berry</a><br>
        <a href="/lab2/lab22/car/">car</a><br>
        <a href="/lab2/lab22/painting/">painting</a><br>
        <a href="/lab2/lab22/furniture/">furniture</a><br>
        <a href="/lab3/" >3</a><br>
        
    
</ol>
{% endblock %}