{% extends "base.html" %}
{% block lab %}Лабораторная работа 2{% endblock %}
{% block main %}
<h1>Mercedes-Benz представил прототип машины будущего</h1>
<div>Компания-автопроизводитель Mercedes-Benz опубликовала новое видео с футуристическим электромобилем Vision
     AVTR, при создании которого инженеры и дизайнеры вдохновлялись фантастическим миром «Аватара». Опробовать машину будущего посчастливилось 
    датскому телеведущему Феликсу Смиту — прототип действительно рабочий, хоть в ролике и не обошлось без компьютерной графики.



    Вместо руля у Vision AVTR центральный контроллер, которым можно управлять и с пассажирского сиденья.
     Машина распознает владельца через отпечатки пальцев, когда человек прикладывает руку к джойстику. 
     Также функционал позволяет определять пульс водителя.
    
    
    
    Благодаря полноуправляемому шасси Mercedes будущего может поворачивать четыре шарообразных колеса в 
    одном направлении, что позволяет автомобилю двигаться под углом 30 градусов. Модель оснащена
     электрической силовой установкой на 476 л.с. и 110-киловаттными аккумуляторами, полностью 
     подходящими для вторичной переработки. Запас хода рассчитан на 700 километров.</div>
        <img src="{{ url_for('static', filename='mashina.jpg') }}">



{% endblock %}