{% extends "base.html" %}
{% block lab %}Лабораторная работа 2{% endblock %}
{% block main %}
<h1>Двулистник Грея (Diphylleia grayi)</h1>
<div>Если вы увидите маленькие белые цветы Двулистника Грея при
     солнечной погоде, вы вряд ли вообще обратите на них внимание.
      Но стоит пойти дождю или просто попасть воде на лепестки –
       как они становятся прозрачными, будто хрустальными. При контакте 
       с водой лепестки теряют пигментацию, но, высыхая, вновь становятся 
       белыми. Двулистник Грея встречается в основном в Японии и Китае,
        растение занесено в Красную книгу.</div>
        <img src="{{ url_for('static', filename='tsvetok.jpg') }}">



{% endblock %}