{% extends "base.html" %}
{% block lab %}Лабораторная работа 2{% endblock %}
{% block main %}
<h1>Мебель</h1>
<div>Коллекция современной мебели трансформер «Boxetti» создана  дизайнером Роландсом 
    Ландсбергсом, который родился и вырос в городе Юрмала в Латвии в семье художников.
    Роландс руководит студией дизайна под названием «EL Studija», которая занимается 
    разработкой и производством торгового оборудования. Основана студия в 1998 году, 
    о высоком уровне организации профессионализма свидетельствует тот факт, что основными 
    заказчиками студии являются такие торговые марки как «SAMSUNG ELECTRONICS» и «SONY».
    Основные принципы, по которым была создана коллекция современной  мебели трансформер 
    «Boxetti» — это функциональность, минималистичный внешний дизайн и современные технологии.
    Такое сочетание качеств не могло оставить коллекцию незамеченной. Коллекция состоит из 
    пяти модулей, каждый из которых способен превращаться в компактные блоки, создавая просторный,
    не перегруженный деталями интерьер, а при необходимости раскладываться и использоваться по 
    назначению по мере надобности.  Экологичность материалов, высокое качество механизмов и ручное
    изготовление всех изделий делает коллекцию эксклюзивной. При сборке мебельных конструкций используется
    фурнитура «HAFELE».
<img src="{{ url_for('static', filename='mebel.jpg') }}">
        
        
        


{% endblock %}

