{% extends "base.html" %}
{% block lab %}Лабораторная работа 2{% endblock %}
{% block main %}
<a href="/menu" >Меню</a><br>
<h1>Говард Ходжкин — «Комната с креслом»</h1>
<div>Прославившись своими динамичными цветовыми решениями, Говард Ходжкин создает одновременно метафорические
     и абстрактные произведения, которые он сам описывал как «картины,
      отражающие эмоциональные состояния».

    Эта работа была создана в период, когда художник переходил к более мягким,
     подвижным техникам нанесения краски. Блеклые формы наводят на мысль о каком-то месте,
      воспоминании, глубоком размышлении о привычках человека, почти неосязаемых.</div>
        <img src="{{ url_for('static', filename='rfhnbyf.jpg') }}">



{% endblock %}