{% extends "base.html" %}
{% block lab %}Лабораторная работа 2{% endblock %}
{% block main %}
<a href="/menu" >Меню</a><br>
<h1>Двулистник Грея (Diphylleia grayi)</h1>
<div>Морошка — ягода из северного полушария, которая произрастает
     в лесах России и северных стран Европы. Плоды на вкус очень
      кислые, ведь очень богаты витамином C — в них его в 4 раза
       больше, чем в апельсинах. Плоды собираются только в несозревшем
        виде — спелая ягода очень мягкая и не поддается транспортировке.

    Из всего списка морошка — самая «русская» ягода и встречается 
    в России повсеместно. </div>
        <img src="{{ url_for('static', filename='yagoda.png') }}">



{% endblock %}