{% extends "base.html" %}

{% block lab %}
{{ username }}



<div><h1 text-align: center;>Профессиональные услуги</h1></div>
<div><a href="/rgz/loginn" class="block1">Войти</a></div>
<div><a href="/rgz/register" class="block2">Регистрация</a></div>
<div><a href="/rgz/search_form" class="block3">Поиск услуги</a></div>
<div><a href="/rgz/cozdzametki" class="block4">Создать анкету</a></div>
<div><a href="/rgz/articles" class="block5">Ваши анкеты</a></div>
<div><a href="/rgz/logout" class="block6">Выйти</a></div>

<div></div>



{% endblock %}

{% block main %}
{% for articles in results %}
    <div>
        <h2>{{ articles[0] }}</h2>
        <p>стаж {{ articles[1] }} </p>
        <p>минимальная цена {{ articles[2] }} руб.</p>
        <p>максимальная цена {{ articles[3] }} руб.</p>
        <hr style="border: none; border-top: 1px dotted #8c8b8b;">
    </div>
    <br>
{% endfor %}
{% endblock %}