{% extends "base.html" %}

{% block main %}
    <h1>Поиск по цене</h1>
    <form action="/rgz/search_by_price" method="get">
        <div>
            <label for="min_price">Минимальная цена:</label>
            <input type="text" id="min_price" name="min_price">
        </div>
        <div>
            <label for="max_price">Максимальная цена:</label>
            <input type="text" id="max_price" name="max_price">
        </div>
        <button type="submit">Поиск</button>
    </form>

    {% if search_results %}
        <ul>
            {% for result in search_results %}
                <li>{{ result }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Не найдено</p>
    {% endif %}
{% endblock %}