{% extends "base.html" %}

{% block main %}
{{ username }}



    <h1>Поиск по стажу</h1>
    <form action="/rgz/search_by_staj" method="get">
        <div>
            <label for="min_staj">Минимальный стаж:</label>
            <input type="text" id="min_staj" name="min_staj">
        </div>
        <div>
            <label for="max_staj">Максимальный стаж:</label>
            <input type="text" id="max_staj" name="max_staj">
        </div>
        <button type="submit">Поиск</button>




{% endblock %}


