{% extends "base.html" %}

{% block lab %}Лабораторная работа 4{% endblock %}

{% block main %}

    <h1>Заказ зерна</h1>

    <form method="POST">
    <h3>Установить температуру холодильника</h3>
    <div>
        <label for="zerno">Выбор вида зерна:</label>
        <select name="zerno">
            <option value="barley">ячмень</option>
            <option value="oats">овёс</option>
            <option value="wheat">пщеница</option>
            <option value="rye">рожь</option>
        </select>
    </div>
    <div>

    </div>
        <label for="weight">Выберите массу в тоннах:</label>
        <input type="number" name="weight" values = "{{weight or ''}}">


        <span>{{ error }}</span>

        <div>
            <button type = "submit">Купить </button>
        </div>
    
    
    </form>
        
{% endblock %}